# === Z-API (WhatsApp) ===
ZAPI_INSTANCE_ID=3F1004CEC59462C0DE10BA665B49BD70
ZAPI_TOKEN=4EDDE8753C0436C7D51A0B88
ZAPI_CLIENT_TOKEN=F177231a4f53e445c81c510ac61b33e5eS
CHAVE_PIX=fac33477-003a-432c-ba31-636ddf2bc43a

# === Planilha Google (Dados dos clientes) ===
URL_PLANILHA=https://docs.google.com/spreadsheets/d/e/2PACX-1vQ6r5sLgkSnm--oOFiD2IgXCBkpl1kYI9XO08xOIjgIx1fF1PUFxLUn3867gK2P6v5dlOa64s9dUQ0a/pub?gid=0&single=true&output=tsv

# === Mercado Pago ===
MP_ACCESS_TOKEN=APP_USR-6243329936427865-053020-8c0d32e2f151175b45fd655c70e27acc-160420450
APP_BASE_URL=https:https://smart-cobranca-api.onrender.com
PAYMENT_LINK=https://link.mercadopago.com.br/assinaturatvrodrigo
# Valor usado no resumo financeiro do painel (total pendente). Ajuste para o valor real da sua mensalidade.
DEFAULT_CHARGE_AMOUNT=30.0

# === Google Sheets API (Atualizar vencimento automaticamente) ===
GOOGLE_SPREADSHEET_ID=id_da_planilha_aqui
GOOGLE_WORKSHEET_NAME=Pagina1
GOOGLE_SERVICE_ACCOUNT_FILE=/caminho/para/service-account.json

# === Dashboard (Login) ===
ADMIN_USERNAME=admin
ADMIN_PASSWORD=R4L0J0ro!!
FLASK_SECRET_KEY=R4L0J0ro!!149140

#=====BANCO DE DADOS======
DATABASE_URL=postgresql://postgres.rwqdneefhesbmlgtyrfl:R4L0J0R0!!1491@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require

